*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color: #EC6842;
    padding: 2em;
    color: white;
}
header a{
    color: white;
}
header li{
    display: inline-block;
}
main{
    margin: 0 auto;
    max-width: 70em;
}
main section{
    margin: 3em 0;
}
footer{
    padding: 2em;
    background-color: #b1d5d5;
}
footer li{
    display: inline-block;
}
section{
    padding: 2em;
}
main section{
    display: flex;
    /*flex-wrap: wrap; */
    justify-content: space-between;
    /*align-content: flex-start; */
}
main section div{
    border: 1px solid white;
    padding: 1em;
    box-shadow: 0 0 1em #d2d2d2;
}
main section div:nth-child(2){
    margin: 0 1em;
}