body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}
ol{
    display: flex;
    padding: 1em;
    list-style-type: none;
}
nav ol li{
    display: flex;
    padding-right: 1.5em;
}
a{
    color: blue;
    text-decoration: none;
}
nav  ol ol{
    position: absolute;
    background-color: whitesmoke;
    padding: 1em;
    display: block;
    visibility: hidden;
}
nav > ol li:hover ol{
    visibility: visible;
}
