main{
    display: grid;
    grid-template-areas:
    "a b c"
    "a b d"
    "e e e";
}
main section{
    border: 1px solid black;
    background-color: aqua;
    padding: 1em;
}
section.a{
    grid-area: a;
}
section.b{
    grid-area: b;
}
section.c{
    grid-area: c;
}
section.d{
    grid-area: d;
}
